
# Ignoring large file: venv/Lib/site-packages/torch/lib/cublas64_12.dll
venv/Lib/site-packages/torch/lib/cublas64_12.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cublasLt64_12.dll
venv/Lib/site-packages/torch/lib/cublasLt64_12.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cudnn_adv64_9.dll
venv/Lib/site-packages/torch/lib/cudnn_adv64_9.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cudnn_engines_precompiled64_9.dll
venv/Lib/site-packages/torch/lib/cudnn_engines_precompiled64_9.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cudnn_ops64_9.dll
venv/Lib/site-packages/torch/lib/cudnn_ops64_9.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cufft64_11.dll
venv/Lib/site-packages/torch/lib/cufft64_11.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cusolver64_11.dll
venv/Lib/site-packages/torch/lib/cusolver64_11.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cusolverMg64_11.dll
venv/Lib/site-packages/torch/lib/cusolverMg64_11.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/cusparse64_12.dll
venv/Lib/site-packages/torch/lib/cusparse64_12.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/dnnl.lib
venv/Lib/site-packages/torch/lib/dnnl.lib

# Ignoring large file: venv/Lib/site-packages/torch/lib/torch_cpu.dll
venv/Lib/site-packages/torch/lib/torch_cpu.dll

# Ignoring large file: venv/Lib/site-packages/torch/lib/torch_cuda.dll
venv/Lib/site-packages/torch/lib/torch_cuda.dll
